# Machine learning pipeline

## Introduction 
Machine learing pipline is an important part of machine learning. It is used to combine multiple machine learning algorithms.it is used for cleaning the data, feature selection, data feature engineering and model training.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import libraries for machine learning pipeline
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer # column transformer used for encoding and imputing data

In [2]:
#load the dataset
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
#select features and target variable
X=df[['pclass', 'age', 'fare', 'embarked', 'sex']]
y=df['survived']

In [4]:
#split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#define the numerical and categorical columns in the dataset using column transformer
from sklearn.compose import ColumnTransformer

# Define the numerical and categorical columns in the dataset
numerical_cols = ['age', 'fare']
categorical_cols = ['pclass', 'embarked', 'sex']

# Create a numerical transformer object
numerical_transformer =Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
])

# Create a categorical transformer object
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder( handle_unknown='ignore')),
])

 # Create a preprocessor object
preprocessor = ColumnTransformer( #column transformer used for encoding and imputing data
    transformers=[
        ('num', numerical_transformer, numerical_cols),#numerical transformer used for imputing data and encoding data
        ('cat', categorical_transformer, categorical_cols),#categorical transformer used for imputing data and encoding data
    ])

#create the pipeline with preprocessor and randomforest classifier
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])

#fit the pipeline on the x_train and y_train
pipeline.fit(X_train, y_train)

#predict on the x_test
y_pred = pipeline.predict(X_test)

#evaluate the model
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))
print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred))

Accuracy: 0.7821229050279329
Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.81      0.81       105
           1       0.73      0.74      0.74        74

    accuracy                           0.78       179
   macro avg       0.78      0.78      0.78       179
weighted avg       0.78      0.78      0.78       179

Confusion Matrix:
 [[85 20]
 [19 55]]